<footer class="footer">
    <div class="container">
        <div id="blocks">
            <!-- <div id="block1"><img src="/img/logos/Horizontal@2x.png" alt="MetaSLAM Logo" style="width:60%;"></div> -->
            <div id="block2">
              <center>
                <a class="button" itemprop="mail" href="mailto:spid3rsuite@gmail.com" target="_blank">
                    <i class="fa fa-envelope fa-lg" aria-hidden="true"></i>
                </a>
                <a class="button" itemprop="twitter" href="https://www.twitter.com/spider_suite" target="_blank">
                    <i class="fab fa-twitter fa-lg"></i>
                </a>
                <a class="button" itemprop="github" href="https://github.com/3nock/SpiderSuite" target="_blank">
                    <i class="fab fa-github fa-lg"></i>
                </a>
                <a class="button" itemprop="telegram" href="https://t.me/SpiderSuite" target="_blank">
                    <i class="fab fa-telegram-plane fa-lg"></i>
                </a>
                <br>
                <br>
                <p class="">&copy; 2022 - 2023 SpiderSuite | <a href="https://github.com/3nock">Enock N.</a></p>
              </center>
            </div>
            <!-- <div id="block3"><img src="/img/riLogo2019.svg" alt="RI Logo" style="float: right;"></div> -->
        </div>
        <!--
        <div class="content is-small has-text-centered">
            <p class="">© 2022 <a href="https://github.com/3nock">Enock N.</a></p>
        </div>
        -->
    </div>
</footer>
